.label {
    color: white;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.menu {
    display: none;
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    font-size: 1.1rem;
    .close {
        width: 20px;
        height: 20px;
        background: white;
    }
    ul {
        // margin-top: 100px;
        list-style-type: none;
        padding: 30px;
        li {
            padding-bottom: 17px;
        }
    }
    &.open {
        display: block;
    }
}
