.label {
    color: white;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.menu {
    display: none;
    position: absolute;
    color: grey;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    font-size: 1.1rem;
    .close {
        cursor: pointer;
        position: relative;
        width: 100%;
        text-align: right;
        .btn {
            font-size: 1.2rem;
            margin: 15px;
            display: inline-block;
            color: #fff;
        }
    }
    ul {
        // margin-top: 100px;
        list-style-type: none;
        padding: 10px 30px;
        li {
            padding-bottom: 17px;
        }
    }
    &.open {
        display: block;
    }
    .active {
        font-weight: bold;
        color: #fff;
    }
}
