@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap");

header {
  display: flex;
  position: absolute;
  top: 0;
  font-family: Helvetica, Arial, sans-serif;
  // background: green;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  /* color: #fff; */
  margin: 0;
  padding: 0;
}
