@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap");

header {
  display: flex;
  position: absolute;
  top: 0;
  // font-family: Helvetica, Arial, sans-serif;
  width: 5%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  h1 {
    font-size: 2.5rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 10px 16px;
    padding: 0;
  }
  // ul {
  //   display: flex;
  //   list-style-type: none;
  //   margin: 0 20px 0 0;
  //   padding: 0;
  // }
  // li {
  //   margin: 5px 20px;
  // }
}

.buttons {
  position: absolute;
  top: 50%;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 2rem;
    border-radius: 3px;
    cursor: pointer;
    outline: inherit;
    color: #fff;
    padding: 10px 20px;
    user-select: none;
    transform: translateY(-50%);
  }
  .left {
    margin-left: 20px;
  }
  .right {
    margin-right: 20px;
  }
}
